$light-blue: rgb(75,169,223);
$grey: rgb(203,203,203);

h3 {
  color: $light-blue;
}

.table {
  .heading th {
    color: $light-blue;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 21px;
  }
  .table-row {
    td {
      padding-left: 21px;
      vertical-align: middle;
      cursor: pointer;
      &.check-column input {
        font-size: x-large;
        vertical-align: middle;
        padding-left: 0;
      }
    }
  }
}